aioredis==1.3.1
alabaster==0.7.12
appdirs @ file:///home/conda/feedstock_root/build_artifacts/appdirs_1603108395799/work
asgi-redis==1.4.3
asgiref==3.4.1
async-timeout==4.0.2
attrs==21.4.0
audioread @ file:///Users/runner/miniforge3/conda-bld/audioread_1641610319608/work
autobahn==22.2.2
Automat==20.2.0
Babel==2.8.0
Bottleneck @ file:///Users/builder/ci_310/bottleneck_1642501073785/work
brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///Users/builder/ci_310/cffi_1643393868399/work
channels==3.0.4
channels-redis==3.3.1
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
constantly==15.1.0
cryptography @ file:///Users/builder/ci_310/cryptography_1642543758909/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
daphne==3.0.2
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Django==4.0.3
django-cors-headers @ file:///home/conda/feedstock_root/build_artifacts/django-cors-headers_1641858895663/work
djangorestframework @ file:///home/conda/feedstock_root/build_artifacts/djangorestframework_1639677796037/work
djangorestframework-api-key==2.1.0
docutils @ file:///Users/builder/ci_310/docutils_1642501816213/work
Faker @ file:///home/conda/feedstock_root/build_artifacts/faker_1648742414960/work
fonttools @ file:///Users/runner/miniforge3/conda-bld/fonttools_1643722871729/work
hiredis==2.0.0
httplib2 @ file:///home/conda/feedstock_root/build_artifacts/httplib2_1644593570376/work
hyperlink==21.0.0
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagesize==1.2.0
incremental==21.3.0
iniconfig==1.1.1
Jinja2==2.11.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1633637554808/work
kiwisolver @ file:///Users/runner/miniforge3/conda-bld/kiwisolver_1635836828404/work
librosa @ file:///home/conda/feedstock_root/build_artifacts/librosa_1644967835314/work
llvmlite==0.38.0
MarkupSafe @ file:///Users/builder/ci_310/markupsafe_1642534112998/work
matplotlib @ file:///opt/concourse/worker/volumes/live/0da721da-13cb-462d-69c8-9ee9bb3461fb/volume/matplotlib-suite_1645455704170/work
mkl-fft==1.3.1
mkl-random @ file:///opt/concourse/worker/volumes/live/a9eca864-069c-4240-73c8-4e51b036a10d/volume/mkl_random_1639994047876/work
mkl-service==2.4.0
mongoengine @ file:///Users/runner/miniforge3/conda-bld/mongoengine_1645406340711/work
msgpack==1.0.3
msgpack-python==0.5.6
munkres==1.1.4
numba @ file:///Users/runner/miniforge3/conda-bld/numba_1644004006004/work
numexpr @ file:///Users/builder/ci_310/numexpr_1642534542370/work
numpy @ file:///opt/concourse/worker/volumes/live/ac169b17-437d-4bc4-6388-8cf92696aa55/volume/numpy_and_numpy_base_1639496871018/work
oauth2client==4.1.3
packaging==20.4
pandas==1.4.1
pdfkit==1.0.0
Pillow==9.0.1
pluggy==1.0.0
pooch @ file:///home/conda/feedstock_root/build_artifacts/pooch_1643032624649/work
psycopg2 @ file:///Users/builder/ci_310/psycopg2_1642535040511/work
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pygame==2.1.2
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
pymongo==3.12.0
PyMuPDF==1.19.6
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyparsing==2.4.7
PyPDF2==1.26.0
PySocks @ file:///Users/builder/ci_310/pysocks_1642536366386/work
pytest==7.1.2
python-dateutil==2.8.1
pytz==2020.1
qrcode==7.3.1
redis==2.10.6
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
resampy==0.2.2
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1637781155505/work
scikit-learn @ file:///Users/builder/ci_310/scikit-learn_1642608976196/work
scipy @ file:///Users/builder/ci_310/scipy_1642604663510/work
service-identity==21.1.0
six==1.15.0
snowballstemmer==2.0.0
SoundFile @ file:///home/conda/feedstock_root/build_artifacts/pysoundfile_1607011569782/work
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinx-rtd-theme @ file:///Users/ktietz/demo/mc3/conda-bld/sphinx_rtd_theme_1629455006846/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sqlparse @ file:///tmp/build/80754af9/sqlparse_1602184451250/work
stripe==2.68.0
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1643647933166/work
tomli==2.0.1
Twisted==22.2.0
txaio==22.2.1
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1650247814259/work
unicodedata2 @ file:///Users/runner/miniforge3/conda-bld/unicodedata2_1640031259003/work
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
zope.interface==5.4.0
